
body {
    background-color: #323232;
    margin: 0;
    color: white;
}

h1 {
    text-align: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table {
    border-collapse: collapse;
}

table td {
    border: 5px solid white;
}

table {
    border: none; 
}

table tr:first-child td {
    border-top: none; 
}

table tr:last-child td {
    border-bottom: none; 
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

.winning-line {
    position: absolute;
    height: 5px;
    background-color: white;
    transform-origin: 0 50%;
    pointer-events: none;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.restart-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00B0EF;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 176, 239, 0.3);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.restart-btn:hover {
    background-color: #009acd;
    transform: translateY(-5px);
}

.restart-btn:active {
    transform: translateY(2px);
}

.restart-btn:focus {
    outline: none;
}

